Makefile
Makefile.in
acinclude.m4
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
*.swp
*.lo
*.la
autom4te.cache/
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/ocilib/.deps/
src/ocilib/.libs/
src/ocilib/.dirstamp
src/*.dox.h
src/qc_*.cpp
src/ql_*.cpp
src/QC_*.cpp

# temporary doc files
docs/*.tag
docs/OracleExtensions/
docs/doxyfile
docs/mainpage.doxygen
docs/oracle/
docs/qlib/Doxyfile.*
docs/qlib/*.dox.h

# Eclipse
.cproject
.project
.settings/
build/
