/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page oracleselect_with_dup_colguide Selects With Duplicated Columns

    @tableofcontents

    When columns are duplicated in select statements, the duplicated columns are renamed by the driver with an
    underscore and a numerix suffix (<i>column</i><tt>_</tt><i>#</i>) as follows:
    @code{.py}
hash<auto> h = ds.select("select a.id, b.id, c.id from a, b, c where a.id = b.id = c.id");
    @endcode

    Would return a result as follows (assuming 1 row in each table with \a id = 1):
    @verbatim
{id: 1, id_1: 1, id_2: 1}
    @endverbatim

    @section binding_by_value Binding by Value

    |!Argument|!OCI Type|!Description
    |\c Type::Binary|\c SQLT_BIN|For use with \c BLOB columns, for example.
    |\c Type::String|\c SQLT_STR|For use with string data, \c VARCHAR, \c CHAR, \c CLOB columns, etc
    |\c Type::Int|\c SQLT_INT or \c SQLT_STR|if the int > 32-bits = \c SQLT_STR, <= 32-bit int = \c SQLT_INT
    |\c Type::Boolean|\c SQLT_INT|True is bound as 1, False as 0
    |\c Type::Float|\c SQLT_BDOUBLE|For use with \c FLOAT, \c BINARY_FLOAT, \c BINARY_DOUBLE columns, etc
    |\c Type::Date|\c SQLT_TIMESTAMP|For use with \c DATE, \c TIMESTAMP, etc columns
    |Wrapped \c Type::Hash and \c Type::List|\c SQLT_NTY|For use with @ref oraclenamed_typesguide

    @section binding_by_placeholder Binding by Placeholder

    |!Argument|!OCI Type|!Description
    |\c Type::Binary|\c SQLT_BIN|For retrieving \c RAW data up to 65531 bytes in size.
    |\c SQL::BLOB|\c SQLT_BLOB|For retrieving \c BLOB data. The \c LOB handle is used to read the entire \c BLOB content into a binary object.
    |\c SQL::CLOB|\c SQLT_CLOB|For retrieving \c CLOB data. The \c LOB handle is used to read the entire \c CLOB content into a Qore string.
    |\c SQL::RESULTSET|\c SQLT_RSET|For retrieving a result set as a @ref Qore::SQL::SQLStatement "SQLStatement" object
    |\c SQL::VARCHAR|\c SQLT_STR|For retrieving character data (\c VARCHAR2, etc). To specify a buffer size larger than 512 bytes, simply use the size in bytes as the argument. See @ref string_sizes
    |\c Type::Int|\c SQLT_INT|For retrieving integer numeric data up to 32 bits (for larger numbers or for non-integer numbers use \c SQL::VARCHAR or \c Type::Float.
    |\c Type::Float|\c SQLT_BDOUBLE|For retrieving data in 64-bit floating point format.
    |\c Type::Date|\c SQLT_TIMESTAMP|For retrieving dates and times.
    |\c Type::Hash|\c SQLT_RSET|For retrieving result sets from a stored procedure that returns a cursor.
    |Wrapped \c Type::Hash and \c Type::List|\c SQLT_NTY|For use with @ref oraclenamed_typesguide

    @section default_oracle_to_qore_mapping Default Oracle to Qore Mappings

    |!Oracle Column Type|!Qore Type|!Notes
    |\c REAL, \c FLOAT, \c DOUBLE \c PRECISION, \c BINARY_FLOAT, \c BINARY_DOUBLE|\c Type::Float|direct conversion
    |\c DATE|\c Type::Date|direct conversion
    |\c TIMESTAMP|\c Type::Date (absolute)|resolution to the microsecond
    |\c TIMESTAMP \c WITH \c TIME \c ZONE|\c Type::Date (absolute)|includes time zone information and has a resolution to the microsecond
    |\c TIMESTAMP \c WITH \c LOCAL \c TIME \c ZONE|\c Type::Date (absolute)|includes time zone information and has a resolution to the microsecond
    |\c INTERVAL \c YEAR \c TO \c MONTH|\c Type::Date (relative)|direct conversion to a relative date
    |\c INTERVAL \c DAY \c TO \c SECOND|\c Type::Date (relative)|direct conversion to a relative date
    |\c SMALLINT, \c INTEGER|\c Type::Int|direct conversion
    |\c NUMBER, \c NUMERIC, \c DECIMAL|\c Type::String|conversion to a string to avoid loss of precision
    |\c CLOB|\c Type::String|the LOB handle is used to read the entire CLOB content into a string
    |\c RAW, \c LONG RAW|\c Type::Binary|direct conversion
    |\c BLOB|\c Type::Binary|the LOB handle is used to read the entire BLOB content into a binary object
    |\c CURSOR (result set)|\c Type::Hash|the result set is returned as a hash of lists

    @section oracle_array_bind Oracle Array Binds

    The Oracle driver supports the \c DBI_CAP_HAS_ARRAY_BIND capability, so it can find arrays of bind values to SQL for
    highly efficient SQL communication with the server; data for an arbitrary number of rows can be sent to the server in
    one command.

    Array binding support differs depending on the data type; additionally it's possible to mix arrays of values and single
    values when binding; single values will be repeated in each row bound.

    Note that when arrays are bound; each array must have the same data type in each element or the element can contain
    @ref nothing "NOTHING" or @ref null "NULL", both of which are bound as @ref null "NULL".

    <b>Array Binding Support</b>
    |!Qore Type|!IN|!OUT|!Single
    |@ref string "string"|\c Y|\c Y|\c Y
    |@ref Qore::Type::Int "int"|\c Y|\c Y|\c Y
    |@ref number "number"|\c Y|\c Y|\c Y
    |@ref boolean "bool"|\c Y|\c Y|\c Y
    |@ref float "float"|\c Y|\c N|\c Y
    |@ref date "date"|\c Y|\c N|\c Y
    |@ref binary "binary"|\c Y|\c N|\c Y

    Other non-null types are not supported.

    @par Example:
    @code{.py}
int rows = ds.exec("merge into merge_target t using (select %v as id, %v as val, %v as code from dual) source
    on (t.id = source.id)
    when not matched then
        insert (id, val, code) values (source.id, source.val, source.code)
    when matched then
        update set val = source.val, code = source.code", (1, 2, 3), ("val1", "val2", "val3"), "const_code");
    @endcode

    @see @ref oraclenamed_typesguide "named types" and collections as an alternative approach to high-volume SQL operations in
    single commands

    @section string_sizes CHAR and VARCHAR2 to Qore String

    @subsection string_sizes_tabs Direct Access to Tables/Views
    Data returned from \c DatasourcePool::select() (and similar methods) use real string sizes:
        - full string for CHAR(n) including trailing spaces
        - full string for VARCHAR2(n). See example below for trailing spaces handling vs. column size.

    Let's assume follwing data:

    @code{.py}
    create table str_test (
        str_char char(10),
        str_var  varchar2(10),
        str_vars varchar2(10)
    );
    -- the spaces around string in the 3rd value are important!
    insert into str_test values ('foo', 'foo', ' foo ');
    commit;
    @endcode

    @code{.py}
    printf("%N\n", ds.select("select * from str_test"));

    hash: (3 members)
      str_char : list: (1 element)
        [0]="foo       "
      str_var : list: (1 element)
        [0]="foo"
      str_vars : list: (1 element)
        [0]=" foo "
    @endcode

    @subsection string_sizes_plsql PL/SQL Wrappers

    Data returned from PL/SQL code use different approach.
    Strings returned from this call are right-trimmed because OCI does not
    provide exact value size in this case by PL/SQL nature. The trimming is
    mandatory to avoid values with full allocated buffer (like strings with
    512 spaces at the end).

    @code{.py}
    -- sample PL/SQL procedure
    create or replace procedure p_str_test(
        o_str_char out str_test.str_char%type,
        o_str_var  out str_test.str_var%type,
        o_str_vars out str_test.str_vars%type
    )
    is
    begin
        select   str_char,   str_var,   str_vars
            into o_str_char, o_str_var, o_str_vars
            from str_test where rownum < 2;
    end;
    /
    @endcode

    @code{.py}
    printf("%N\n", ds.exec("begin p_str_test(:str_char, :str_var, :str_vars); end;"));

    hash: (3 members)
      str_char : "foo"
      str_var : "foo"
      str_vars : " foo"
    @endcode
*/
