/** @mainpage Qore oracle Module

    @tableofcontents

    @section oracleintro Introduction to the oracle Module

    The oracle module provides an Oracle driver to Qore's DBI system, allowing Qore
    programs to take access Oracle databases through the Qore's \c Datasource,
    \c DatasourcePool, and \c SQLStatement classes.

    This module is released under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a>
    and is tagged as such in the module's header (meaning it can be loaded
    unconditionally regardless of how the Qore library was initialized).

    Also included with the binary oracle module:
    - @ref oracleextensionsintro "OracleExtensions" user module providing transparent SQL
      tracing support using Oracle's \c DBMS_APPLICATION_INFO package.

    Example of creating an Oracle Datasource (note that \a db_encoding, \a host,
    and \a port are optional - using the hostname and port allows connections
    to be established without TNS, without these parameters TNS is used):

    @code{.py}
    Datasource ds(SQL::DSOracle, user, pass, db, db_encoding, host, port);
    @endcode

    or

    @code{.py}
    Datasource ds("oracle:user/password@db%host:1522");
    @endcode

    The driver supports transactions, bound parameters, and prepared statements.
    See @ref oraclecapabilitiesguide for supported features and their requirements.

    @section oracleqlibmodules Qore User Modules

    - @ref oracleextensionsintro "OracleExtensions" — Extended functionality for Oracle Db driver

    @section oracledocumentation Documentation

    - @subpage oraclecapabilitiesguide
    - @anchor ora_thread_session_info @subpage oracleora_thread_session_infoguide
    - @anchor ora_native_bulk_load @subpage oracleora_native_bulk_loadguide
    - @anchor ora_options @subpage oracleora_optionsguide
    - @anchor bindings_and_types @subpage oraclebindings_and_typesguide
    - @anchor select_with_dup_col @subpage oracleselect_with_dup_colguide
    - @anchor named_types @subpage oraclenamed_typesguide
    - @anchor aq @subpage oracleaqguide
    - @anchor ora_known_issues @subpage oracleora_known_issuesguide
    - @anchor ora_releasenotes @subpage oracleora_releasenotesguide

*/
